@import '../src/common/styles/mixins';

.container {
  background: rgba(233, 233, 233, 1)
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0;
}

.info {
  width: 60%;
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: rgba(165, 203, 224, 1);
  margin-bottom: 25px;
}

.more {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(165, 203, 224, 1);
  margin-bottom: 25px;
}

.social {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.socialInfo {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(165, 203, 224, 1);
}

.socialItem {
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  column-gap: 10px;
}

.formGroup {
  width: 30%;
  margin: 0 10px 0 0;
}

.notice {
  text-align: right;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: rgba(165, 203, 224, 1);
}

.notice span {
  color: red;
}

.formItems {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -3px -3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  margin: 12px 0 0 0;
}

.formItem {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgba(164, 166, 172, 1);
  border: none;
  padding: 20px;
  width: 100%;
  display: block;

  &:focus {
    outline: none;
  }
}

.formItems textarea {
  resize: none;
}

.formButton {
  @include button(rgba(165, 203, 224, 1), rgba(255, 255, 255, 1), rgba(165, 203, 224, 1));
  display: block;
  margin: 35px auto 0;
  height: 35px;
  width: 130px;

  &:hover {
    background-color: rgba(165, 203, 224, 0.5);
    color: white;
  }

}

.errorValidationMessage{
  position: absolute;
  font-family: "DM Sans";
  font-weight: 700;
  display: block;
  bottom: 3px;
  left: 20px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: red;
  transition-duration: 3s;
}

.inputWrapper{
  position: relative;
}

.inputWrapper:not(:last-child) {
  border-bottom: 1px solid rgba(233, 233, 233, 1);
}


@keyframes shake {

  0%{
    background: yellow;
    width: 5000px;
  }
  50%{
    background: green;
    width: 0px;
  }
  100%{
    background: blue;
    width: 10000px;
  }

}